:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}



body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: flex;
    flex-direction: column;
    background: rgb(205,47,154);
background: linear-gradient(90deg, rgba(205,47,154,1) 1%, rgba(64,17,66,1) 47%, rgba(65,52,60,1) 100%);

}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.car-detail-css {
    margin: 10;
    padding: 10;
    width: 520px;
    height: 220px;
    font-size: 2rem;
    text-align: center;
}

.home-link {
    font-size: 2rem;
    width: 200px;
    text-align: center;
}

#car-detail-container img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 13px 14px 26px 14px rgba(0,0,0,0.69);
    margin: 20px;
    padding: 20px;
    width: 850px;
    height: 500px;

    
}

#car-detail-container p {
    margin: 30px;
    padding: 30px;
    text-align: center;
    color: grey;
    

}